<a href="https://colab.research.google.com/github/linounirio/saeb/blob/main/saeb_rotinas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rotinas de limpeza de DADOS do **SAEB**

In [1]:
from google.colab import drive
import pandas as pd
import statistics

drive.mount('/content/drive')

Mounted at /content/drive

# Criando a lista com as colunas necessárias do data frame

* Em documentos oficiais tem sempre o dicionario. por isso fui nele e irei trabalhar, com duas bases dentro da tabela, primeiro analisarei a 5ª série.. irei baixar somente os dados que se referem a ela. depois usarei a mesma rotina atualizando as colunas que preciso para a 9ª série

In [2]:
# tabela para análise da 5 serie.
variaveis = [
    'ID_REGIAO','ID_UF','ID_MUNICIPIO','ID_AREA','ID_ESCOLA','IN_PUBLICA',
    'ID_LOCALIZACAO','NU_MATRICULADOS_CENSO_5EF','NU_PRESENTES_5EF','NIVEL_0_MT5',
    'NIVEL_1_MT5','NIVEL_2_MT5','NIVEL_3_MT5','NIVEL_4_MT5','NIVEL_5_MT5','NIVEL_6_MT5',
    'NIVEL_7_MT5','NIVEL_8_MT5','NIVEL_9_MT5','NIVEL_10_MT5'
]

In [3]:
url = input(': ')

: /content/drive/MyDrive/03 - Projeto_Disc_Estatistica/projeto/saeb_2021/DADOS/TS_ESCOLA.csv

# Tabela, do **SAEB**

In [4]:
arquivo_saeb = pd.read_csv(url,sep = ';', encoding = 'latin-1',usecols=variaveis)

In [6]:
# verificando quanto de memória foi usada.
arquivo_saeb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70897 entries, 0 to 70896
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_REGIAO                  70897 non-null  int64
 1   ID_UF                      70897 non-null  int64
 2   ID_MUNICIPIO               70897 non-null  int64
 3   ID_AREA                    70897 non-null  int64
 4   ID_ESCOLA                  70897 non-null  int64
 5   IN_PUBLICA                 70897 non-null  int64
 6   ID_LOCALIZACAO             70897 non-null  int64
 7   NU_MATRICULADOS_CENSO_5EF  45798 non-null  float64
 8   NU_PRESENTES_5EF           45865 non-null  float64
 9   NIVEL_0_MT5                32665 non-null  float64
 10  NIVEL_1_MT5                32665 non-null  float64
 11  NIVEL_2_MT5                32665 non-null  float64
 12  NIVEL_3_MT5                32665 non-null  float64
 13  NIVEL_4_MT5                32665 non-null  float64
 14  NIVEL_5_MT5                32665 non-null  float64
 15  NIVEL_6_MT5                32665 non-null  float64
 16  NIVEL_7_MT5                32665 non-null  float64
 17  NIVEL_8_MT5                32665 non-null  float64
 18  NIVEL_9_MT5                32665 non-null  float64
 19  NIVEL_10_MT5               32665 non-null  float64
dtypes: float64(13), int64(7)
memory usage: 10.8 MB

In [ ]:
print ('Total de linhas de arquivos:',len(arquivo_saeb))
colunas = list(arquivo_saeb.keys())

Total de linhas de arquivos: 70897

# Data Frame do RJ. Recorte c/ todas as variáveis originais mas as unidades de observação são apenas do Estado.

In [ ]:
arquivo_estado = arquivo_saeb.loc[lambda arquivo_saeb: arquivo_saeb['ID_UF']==33]
arquivo_municipio = arquivo_estado.loc[lambda arquivo_estado: arquivo_estado['ID_AREA']==1]
pblc_arq_municipio = arquivo_municipio.loc[lambda arquivo_municipio: arquivo_municipio['IN_PUBLICA']==1]

In [ ]:
print ('total de linhas arquivo do estado: ', len(arquivo_estado))
print ('total de linhas arquivo do municipio: ', len(arquivo_municipio))
print ('total de linhas escolas públicas do município: ', len(pblc_arq_municipio))

total de linhas arquivo do estado:  4200
total de linhas arquivo do municipio:  1212
total de linhas escolas públicas do município:  1212

# Retirar Colunas que não farão parte das análises dessa tabelas.

In [ ]:
#variaveis = list() <- inserir as colunas que farão parte do dataframe
#df_arquivo_municipio = arquivo_municipio[variaveis]